<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput [formControl]="user" required>
    <mat-error *ngIf="email.invalid">fdsafasf</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid">fdsafasf</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombrel</mat-label>
    <input matInput [formControl]="name" required>
    <mat-error *ngIf="email.invalid">fdsafasf</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellidos</mat-label>
    <input matInput [formControl]="surname" required>
    <mat-error *ngIf="email.invalid">fdsafasf</mat-error>
  </mat-form-field>
</div>

<button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="save()">
  Guardar
</button>
<button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="close()" >
  Cerrar
</button>
